header {
    margin-left: 4%;
    margin-top: 5%;
}
.sidebar {
    background-image: url('/img/root-min.png') ;
    background-repeat: no-repeat;
    height: 800px ;
    margin-left: 25px;
}

.content {
    margin-top: 10em;
}

a {
    text-decoration: none;
    color: #3D9926;
}

a:hover {
    text-decoration: underline;
    color: #3D9926;
}

header a:hover {
    text-decoration: none;
}

/* over-write bootstrap */
h1 {
    margin-bottom: 2px;
    line-height: inherit;
    font-size: 3.9em;
}

h2 {
    color: #000;
}
