@font-face {
    font-family: "FuturaStd-Condensed" ;
    font-weight: bold;
    src: url('/font/FuturaStd-CondensedBold.otf');
}

@font-face {
    font-family: "FuturaStd-Condensed";
    font-weight: lighter;
    src: url('/font/FuturaStd-CondensedLight.otf');
}

@font-face {
    font-family: "FuturaStd";
    font-weight: normal;
    src: url('/font/FuturaStd-Medium.otf');
}


html,body {
    padding: 0;
    margin: 0;
    font-family: "FuturaStd", Arial ;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: #000 ;
}

img.bg {
        /* Set rules to fill background */
        min-height: 100%;
        min-width: 1024px;

        /* Set up proportionate scaling */
        width: 100%;
        height: auto;

        /* Set up positioning */
        position: fixed;
        top: 0;
        left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
        img.bg {
                left: 50%;
                margin-left: -512px;   /* 50% */
        }
}

div {
    /*border: 1px solid;*/
}


h1 {
    color: #3D9926 ;
    font-family: "FuturaStd-Condensed", Arial ;
    font-weight: bold;
    font-size: 3.6em;
    margin-bottom: 0px;
    white-space: nowrap;
}

h1 span {
    color: #E8B2A9 ;
}

h2 {
    font-family: "FuturaStd-Condensed", Arial ;
    font-weight: lighter;
    font-size: 1.1em;
    margin-top: 0px;
    letter-spacing: 2.3px;
    white-space: nowrap;
}

h3 {
    font-family: "FuturaStd-Condensed" , Arial;
    font-weight: bold;
    font-size: 2.2em;
    color: #6B6C6E ;
    margin-top: 1.5em;
}

p {
    text-align: justify;
}

#container {
    position:absolute;
    left: 50%;
    top: 18%;
    width: 50%;
    height: 40%;
  /*  margin-top: -15%;*/
    margin-left: -19%;
}

#first {
    margin-right: 25%;
}

#second {
    margin-left: 20%;
}

#third {
    margin-right: 10%;
}

#contact a {
    text-decoration: none;
    font-family: "FuturaStd-Condensed" , Arial;
    font-weight: bold;
    font-size: 1.6em;
    color: #6B6C6E ;
    float: left;
}

#cv {
    margin-left: 10px;
}

#cv a {
    text-decoration: none;
    font-family: "FuturaStd-Condensed" , Arial;
    font-weight: bold;
    font-size: 2.8em;
    color: #E8B2A9 ;
    float: right;
}

#title {
}

#realisations a {
    color: #6B6C6E ;
    text-decoration: none;
    font-family: "FuturaStd-Condensed" , Arial;
    font-weight: bold;
    font-size: 1.6em;
    float: right;
}

.rotate_35 {
    transform:rotate(35deg);
    -ms-transform:rotate(35deg);
    -moz-transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -o-transform:rotate(35deg);
}

.rotate_minus_15 {
    transform:rotate(-15deg);
    -ms-transform:rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    -o-transform:rotate(-15deg);
}

a:hover {
    transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform:rotate(0deg);
}
