@font-face {
    font-family: "FuturaStd-Condensed" ;
    font-weight: bold;
    src: url('/font/FuturaStd-CondensedBold.otf');
}

@font-face {
    font-family: "FuturaStd-Condensed";
    font-weight: lighter;
    src: url('/font/FuturaStd-CondensedLight.otf');
}

@font-face {
    font-family: "FuturaStd";
    font-weight: normal;
    src: url('/font/FuturaStd-Medium.otf');
}


html,body {
    padding: 0;
    margin: 0;
    font-family: "FuturaStd", Arial ;
    height: 100%;
    width: 100%;
    color: #000 ;
}

img.grib {
    position: absolute;
    height: 250px ;
    margin-left:41%;
    margin-top:8%;
}

img.bg {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;

    z-index: -100;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg {
        display: none;
    }
    html {
        background-color: #ECEDED ;
    }
}

div {
    /*border: 1px solid;*/
}


h1 {
    color: #3D9926 ;
    font-family: "FuturaStd-Condensed", Arial ;
    font-weight: bold;
    font-size: 3.6em;
    white-space: nowrap;
}

h1 span {
    color: #E8B2A9 ;
}

h2 {
    font-family: "FuturaStd-Condensed", Arial ;
    font-weight: lighter;
    font-size: 1.1em;
    letter-spacing: 2.3px;
    white-space: nowrap;
}

h3 {
    font-family: "FuturaStd-Condensed" , Arial;
    font-weight: bold;
    font-size: 1.6em;
    color: #6B6C6E ;
}

.title{
    margin-left: 40%;
    margin-top: 18%;
    position: absolute;
}

.content {
}

p {
    text-align: justify;
}

#container {
    position:relative;
    width: 100%;
    height: 100%;
}

p, ul {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 15px;
  line-height: 18px;
}

#container {
  margin: 0 auto;
  width: 900px;
}
.section {
  padding-bottom: 20px;
  padding-top: 20%;
  height: 100%;
}
.section p:last-child {
  margin-bottom: 0;
}

a {
    text-decoration: none;
    color: #3D9926;
}

a:hover {
    text-decoration: underline;
    color: #3D9926;
}

strong {
    font-weight: bold;
    font-size: 1.1em;
}

