/*  http://ryanfait.com/resources/footer-stick-to-bottom-of-page/ */
* {
    margin: 0;
}

html, body {
    height: 100%;
}

#main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}
